[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-recommenders = "==0.3.2"
tensorflow-datasets = "==4.2.0"
tf2onnx = "==1.8.1"

[dev-packages]

[requires]
python_version = "3.8"
